 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Kyle is an undergraduate computer science major at the University of Maryland - College Park who is working on building sustainable iniatives that have a positive social impact. </p>
                </div>
                <div class="col-lg-4">
                    <p>He co-founded <a href="http://www.symbionthealth.com" style="color: #A9BCD0;" target="_blank">Symbiont Health</a> which is building wearable jewlery that will reduce the response time for unconcious falls and remove the negative stigma behind wearing medical devices. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/downloads/kyle_liu_resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>